<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://spataray.github.io/The-Bar-Signage" version="1.1.0" viewmodes="fullscreen">
    <tizen:application id="ta-signage.TAsignage" package="ta-signage" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="images/TAStation-1.JPG"/>
    <name>T.A. Station Signage</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="tv"/>
</widget>
